!Use something like my beloved Consolas
URxvt.font: xft:inconsolata:size=9

!Based on Son Of Obsidian, the VS theme by einaros. Ported for used in .Xresources by Corey Larson.

!Background Color
URxvt*background: #22282A

!Font Color
URxvt*foreground: #F1F2F3

!Other Colors

!Black
URxvt*color0: #22282A
URxvt*color8: #303A3B

!Red
URxvt*color1: #EC7600
URxvt*color9: #F19F4C

!Green
URxvt*color2: #93C763
URxvt*color10: #B3D791

!Yellow
URxvt*color3: #FFCD22
URxvt*color11: #FFDC64

!Blue
URxvt*color4: #678CB1
URxvt*color12: #94AEC8

!Magenta
URxvt*color5: #A082DB
URxvt*color13: #8C8CB4

!Cyan
URxvt*color6: #B7E5FA
URxvt*color14: #99DAF9

!White
URxvt*color7: #F1F2F3
URxvt*color15: #66747B
